In [888]:
import pandas as pd
import numpy as np

In [889]:
%matplotlib inline

In [890]:
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.plotly as py
import plotly.offline as pyo
import plotly.graph_objs as go

pyo.init_notebook_mode(connected=True)

import cufflinks as cf

# import plotly.tools as tls
# tls.embed('https://plot.ly/~cufflinks/8')

-----------

# Wohnungen: Leerwohnungen in der Stadt Zürich

## Datensatz säubern
Die Angaben zu der Art der Leerflächen, sowie die Jahreszahlen liegen in unterschiedlich verteilten "rows" vor.

Diese müssen nun jeweils in eine einzelne "row" pro "column" zusammengeführt werden damit eine saubere Selektion der gewünschten Daten gelingt.

Zudem sind diverse Textelemente zu eliminieren. Damit die Daten als reine Zahlen erscheinen muss der Datensatz in int64 konvertiert werden, ansonsten werden sie mit Nachkommastellen dargestellt und die Auswertung funktioniert nicht.

* xx

-----------

In [891]:
# looking at original raw data
df = pd.read_excel('Daten/Wohnungen/00_Leerwohnungen-Stadt-Zuerich_Original.xlsx')

In [892]:
df.head(15)

,T_1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,Leerstehende Wohnungen nach Stadtquartier und ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Stadt Zürich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010-2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Quelle: Statistik Stadt Zürich, LWZ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,Leerwohnungsbestand 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Leerwohnungsbestand,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,Total,davon mit ... Zimmer(n),NaN,NaN,NaN,NaN,davon in …,NaN,2018.00,...,2011.000000,2010.000,2017.0,2016,2015.0,2014.0,2013.0,2012,2011.0,2010.0
8,NaN,NaN,1,2.0,3.0,4.0,5 u.,EFH 1,Neu-,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,mehr,NaN,bauten 2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Stadt Zürich,447,32,95.0,173.0,107.0,40,7,87,0.20,...,0.059762,0.066,454.0,484,483.0,471.0,242.0,206,125.0,136.0
11,Kreis 1,25,4,6.0,5.0,7.0,3,0,0,0.65,...,0.078802,0.052,16.0,9,14.0,19.0,14.0,10,3.0,2.0
12,Rathaus,14,4,4.0,2.0,2.0,2,0,0,0.61,...,0.044228,0.087,13.0,3,6.0,12.0,9.0,6,1.0,2.0
13,Hochschulen,1,0,0.0,0.0,1.0,0,0,0,0.31,...,0.000000,0.000,0.0,0,0.0,1.0,1.0,0,0.0,0.0
14,Lindenhof,7,0,2.0,1.0,3.0,1,0,0,0.85,...,0.256082,0.000,2.0,4,5.0,5.0,2.0,3,2.0,0.0

-------

### Rows verbinden für neuen Header

Daten säubern – Rows für Header verbinden

#### 1. Liste

In [893]:
# looking at original data, setting header to row 7
df1 = pd.read_excel('Daten/Wohnungen/00_Leerwohnungen-Stadt-Zuerich_Original.xlsx', header=7
                  ).replace('–', np.nan).fillna(0)
df1.head()

,Leerwohnungsbestand 2018,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Leerwohnungsziffer3,...,Unnamed: 15,Unnamed: 16,Unnamed: 17,Leerwohnungsbestand,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24
NaN,Total,davon mit ... Zimmer(n),0.0,0.0,0.0,0,davon in …,0,2018.00,2017.00,...,2011.000000,2010.000,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
NaN,0,1,2.0,3.0,4.0,5 u.,EFH 1,Neu-,0.00,0.00,...,0.000000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0,0,0.0,0.0,0.0,mehr,0,bauten 2,0.00,0.00,...,0.000000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Stadt Zürich,447,32,95.0,173.0,107.0,40,7,87,0.20,0.21,...,0.059762,0.066,454.0,484.0,483.0,471.0,242.0,206.0,125.0,136.0
Kreis 1,25,4,6.0,5.0,7.0,3,0,0,0.65,0.42,...,0.078802,0.052,16.0,9.0,14.0,19.0,14.0,10.0,3.0,2.0

In [894]:
# making a list of df1
list1=list(df1)

#### 2. Liste

In [895]:
# looking at original data, setting header to row 8
df2 = pd.read_excel('Daten/Wohnungen/00_Leerwohnungen-Stadt-Zuerich_Original.xlsx', header=8
                  ).replace('–', np.nan).fillna(0)
df2.head()

,Total,davon mit ... Zimmer(n),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,davon in …,Unnamed: 7,2018,2017,...,2011,2010,2017.1,2016.1,2015.1,2014.1,2013.1,2012.1,2011.1,2010.1
NaN,0.0,1.0,2.0,3.0,4.0,5 u.,EFH 1,Neu-,0.00,0.00,...,0.000000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0.0,0.0,0.0,0.0,0.0,mehr,0,bauten 2,0.00,0.00,...,0.000000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Stadt Zürich,447.0,32.0,95.0,173.0,107.0,40,7,87,0.20,0.21,...,0.059762,0.066,454.0,484.0,483.0,471.0,242.0,206.0,125.0,136.0
Kreis 1,25.0,4.0,6.0,5.0,7.0,3,0,0,0.65,0.42,...,0.078802,0.052,16.0,9.0,14.0,19.0,14.0,10.0,3.0,2.0
Rathaus,14.0,4.0,4.0,2.0,2.0,2,0,0,0.61,0.56,...,0.044228,0.087,13.0,3.0,6.0,12.0,9.0,6.0,1.0,2.0

In [896]:
# making a list of df2
list2=list(df2)

#### 1. Liste + 2. Liste = 3. Liste mit neuem Header

In [897]:
# creating an new list3 with data and header info of list1, list2 
list3 = []
for elem1, elem2 in zip(list1, list2):
    elem = elem1, elem2
    list3.append(elem)

In [898]:
# looking at original data, setting header to row 7
df = pd.read_excel('Daten/Wohnungen/00_Leerwohnungen-Stadt-Zuerich_Original.xlsx'
                   ,index_col=None, header=7).replace('–', np.nan).fillna(0)

In [899]:
# replacing columns with new created list3
df.columns = list3
df.head()

,"(Leerwohnungsbestand 2018, Total)","(Unnamed: 1, davon mit ... Zimmer(n))","(Unnamed: 2, Unnamed: 2)","(Unnamed: 3, Unnamed: 3)","(Unnamed: 4, Unnamed: 4)","(Unnamed: 5, Unnamed: 5)","(Unnamed: 6, davon in …)","(Unnamed: 7, Unnamed: 7)","(Unnamed: 8, 2018)","(Leerwohnungsziffer3, 2017)",...,"(Unnamed: 15, 2011)","(Unnamed: 16, 2010)","(Unnamed: 17, 2017.1)","(Leerwohnungsbestand, 2016.1)","(Unnamed: 19, 2015.1)","(Unnamed: 20, 2014.1)","(Unnamed: 21, 2013.1)","(Unnamed: 22, 2012.1)","(Unnamed: 23, 2011.1)","(Unnamed: 24, 2010.1)"
NaN,Total,davon mit ... Zimmer(n),0.0,0.0,0.0,0,davon in …,0,2018.00,2017.00,...,2011.000000,2010.000,2017.0,2016.0,2015.0,2014.0,2013.0,2012.0,2011.0,2010.0
NaN,0,1,2.0,3.0,4.0,5 u.,EFH 1,Neu-,0.00,0.00,...,0.000000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
NaN,0,0,0.0,0.0,0.0,mehr,0,bauten 2,0.00,0.00,...,0.000000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Stadt Zürich,447,32,95.0,173.0,107.0,40,7,87,0.20,0.21,...,0.059762,0.066,454.0,484.0,483.0,471.0,242.0,206.0,125.0,136.0
Kreis 1,25,4,6.0,5.0,7.0,3,0,0,0.65,0.42,...,0.078802,0.052,16.0,9.0,14.0,19.0,14.0,10.0,3.0,2.0

#### Datenauswahl

In [900]:
# selecting data from row 3 onwards
df = df.iloc[3:50, [0,17,18,19,20,21,22,23,24]]
df.head()

,"(Leerwohnungsbestand 2018, Total)","(Unnamed: 17, 2017.1)","(Leerwohnungsbestand, 2016.1)","(Unnamed: 19, 2015.1)","(Unnamed: 20, 2014.1)","(Unnamed: 21, 2013.1)","(Unnamed: 22, 2012.1)","(Unnamed: 23, 2011.1)","(Unnamed: 24, 2010.1)"
Stadt Zürich,447,454.0,484.0,483.0,471.0,242.0,206.0,125.0,136.0
Kreis 1,25,16.0,9.0,14.0,19.0,14.0,10.0,3.0,2.0
Rathaus,14,13.0,3.0,6.0,12.0,9.0,6.0,1.0,2.0
Hochschulen,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
Lindenhof,7,2.0,4.0,5.0,5.0,2.0,3.0,2.0,0.0

In [901]:
# checking lenght of dataframe
df.shape

(47, 9)

In [902]:
# replacing index name with 'Quartier'
df.index.name = 'Quartier'
df.head()

,"(Leerwohnungsbestand 2018, Total)","(Unnamed: 17, 2017.1)","(Leerwohnungsbestand, 2016.1)","(Unnamed: 19, 2015.1)","(Unnamed: 20, 2014.1)","(Unnamed: 21, 2013.1)","(Unnamed: 22, 2012.1)","(Unnamed: 23, 2011.1)","(Unnamed: 24, 2010.1)"
Quartier,,,,,,,,,
Stadt Zürich,447,454.0,484.0,483.0,471.0,242.0,206.0,125.0,136.0
Kreis 1,25,16.0,9.0,14.0,19.0,14.0,10.0,3.0,2.0
Rathaus,14,13.0,3.0,6.0,12.0,9.0,6.0,1.0,2.0
Hochschulen,1,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
Lindenhof,7,2.0,4.0,5.0,5.0,2.0,3.0,2.0,0.0

In [903]:
# checking lenght of dataframe
df.shape

(47, 9)

In [904]:
# reset index to start at row 0
df.reset_index(inplace=True)
df.shape

(47, 10)

In [905]:
df.columns = ['Quartier', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010']
df.head()

       Quartier 2018   2017   2016   2015   2014   2013   2012   2011   2010
0  Stadt Zürich  447  454.0  484.0  483.0  471.0  242.0  206.0  125.0  136.0
1       Kreis 1   25   16.0    9.0   14.0   19.0   14.0   10.0    3.0    2.0
2       Rathaus   14   13.0    3.0    6.0   12.0    9.0    6.0    1.0    2.0
3   Hochschulen    1    0.0    0.0    0.0    1.0    1.0    0.0    0.0    0.0
4     Lindenhof    7    2.0    4.0    5.0    5.0    2.0    3.0    2.0    0.0

In [906]:
# checking lenght of dataframe
df.shape

(47, 10)

In [907]:
# checking type of columns
df.dtypes

Quartier     object
2018         object
2017        float64
2016        float64
2015        float64
2014        float64
2013        float64
2012        float64
2011        float64
2010        float64
dtype: object

In [908]:
# exporting to excel to change type of columns
df.to_excel('Daten/Wohnungen/02_Leerwohnungen-Stadt-Zuerich_processing_01.xlsx')

In [909]:
df = pd.read_excel('Daten/Wohnungen/02_Leerwohnungen-Stadt-Zuerich_processing_01.xlsx')
df.head()

       Quartier  2018  2017  2016  2015  2014  2013  2012  2011  2010
0  Stadt Zürich   447   454   484   483   471   242   206   125   136
1       Kreis 1    25    16     9    14    19    14    10     3     2
2       Rathaus    14    13     3     6    12     9     6     1     2
3   Hochschulen     1     0     0     0     1     1     0     0     0
4     Lindenhof     7     2     4     5     5     2     3     2     0

In [910]:
# checking type of columns
df.dtypes

Quartier    object
2018         int64
2017         int64
2016         int64
2015         int64
2014         int64
2013         int64
2012         int64
2011         int64
2010         int64
dtype: object

In [911]:
# data cleaned
df.head()

       Quartier  2018  2017  2016  2015  2014  2013  2012  2011  2010
0  Stadt Zürich   447   454   484   483   471   242   206   125   136
1       Kreis 1    25    16     9    14    19    14    10     3     2
2       Rathaus    14    13     3     6    12     9     6     1     2
3   Hochschulen     1     0     0     0     1     1     0     0     0
4     Lindenhof     7     2     4     5     5     2     3     2     0

In [912]:
# exporting cleaned data to excel ':-)'
df.to_excel('Daten/Wohnungen/01_Leerwohnungen-Stadt-Zuerich_clean.xlsx')